h1 {
  font-size: 100px;
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
  text-align: center;
}

.header {
  background-color: #FFFFFF;
}

.header-text-container {
  height: 120px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  margin: 0 100px;
}

.header-icon {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}
.header-icon p {
  margin: 0 0 0 10px;
}
.header-overview {
  display: inline-block;
  margin: 60px 20px 20px 20px;
  vertical-align: middle;
}
.header-ext-btn {
  display: inline-block;
  margin: 40px 20px 20px 20px;
  vertical-align: middle;
}

/*.icon {
  position: relative;
  margin-right: 500px;
}*/
