h1 {
  font-size: 100px;
  font-weight: 100;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
  text-align: center;
}

.header {
  background-color: #FFFFFF;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.header-container {
  background-color: #FFFFFF;
}

.header-text-container {
  margin-top: -10px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  display: inline-block;
}

.icon {
  position: absolute;
  float: right;
}
