.pinbox-container {
  background-color: #FFFFFF;
  margin-top: 30px;
  height: 700px;
}

.pinbox-title {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  padding-top: 20px;
}

.card-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.pin-container {
  background: #FFFFFF;
  border: 1px solid black;
  display: inline-block;
  height: 450px;
  margin: 20px 15px;
  width: 350px;
}

.edit-btn {
  background: #FFFFFF;
  border: 1px solid black;
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  height: 35px;
  margin-left: 10px;
  outline-color: black;
  width: 100px;
}

.edit-btn:hover {
  background: gray;
}

a {
  color: black;
  text-decoration: none;
}

.card-city {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.card-temp {
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  font-weight: 400;
  margin: 50px;
}

.card-sky {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
}
